#body {font-size:9pt;}

BODY.index {color:green;background-color:#ccffdd;}

BODY.badge {color:#333333;background-color:#dddddd;}
.badge IMG {margin:5px;}

A {color:#ffffff;text-decoration:none;cursor:crosshair}

A:link { color:#339966; }
A:visited { color:#66cc99; }
A:active { color:#0000ff; }
A:hover { color:#ee66ff; }
